.header{
    font-size: large;
    color: white;
    background-image: url('..header.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 2em 4em;
    min-height: 4cm;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    list-style-type: none;
    overflow: hidden;
}
li{
    float: right;
}
li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 14px 16px;
}
li a:hover{
    background-color: teal;
}
li a.active{
    background-color: darkcyan;
}
.body{
    font-size: xx-large;
    background-image: url('..logo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em 4em;
    min-height: 5cm;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: rgb(34, 104, 104);
    margin: 10px;
    border-style: double;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    width: 1000px;
    border-width: 15px;
    opacity: 0.8;
    text-align: center;
}
h1{
    color: teal;
    font-size: large;
    margin: 10px;
    border-style: none;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    width: 1030px;
    border-width: 10px;
    opacity: 0.8;
    text-align: left;
}
h2{
    color: white;
    font-size: x-large;
    opacity: 0.9;
    text-align: center;
}
h3{
    color: white;
    font-size: x-large;
    text-align: center;
}
.footer{
    color: white;
    background-color: darkcyan;
    text-align: center;
    padding: 2em 4em;
    min-height: 2cm;
}
